/* GENERAL */

.container-fluid {
	background-color: lightgrey;
}

/* HEADER */

header {
	margin-top: 100px;
}

#aboutImage {
	max-width: 100%;
	height: 40vh;
}

/* MAP */

#amapMap {
	width: 100vw;
}

#map {
	height: 300px;
	width: 100vw;
	border-radius: 10px;
}

/* MEDIA */

@media all and (max-width : 992px) {
}

@media all and (max-width : 576px) {
}