/* GENERAL */

.container-fluid {
	background-color: lightgrey;
}

/* HEADER */

#aboutImage {
	max-width: 100%;
	height: 40vh;
}

/* MAP */

#map {
	height: 300px;
	border-radius: 10px;
}

.leaflet-popup-content {
	font-weight: bold;
}

/* MEDIA */

@media all and (max-width : 992px) {
	#aboutImage {
		width: 80%;
		height: auto;
	}
}

@media all and (max-width : 576px) {
	#aboutImage {
		width: 100%;
	}
}