/* FORMS */

#contractCrud form, #growerCrud form, #foodTypeCrud form, #postsCrud form {
	display: inline-block;
}

/* LISTS */

#contractCrud table thead tr th, #growerCrud table thead tr th, #foodTypeCrud table thead tr th{
	width: 50%;
}

#contractsTimeLeft table thead tr th {
	width: 30%
}

table td {
	vertical-align: middle!important;
}