/* MEDIA */
@media all and (max-width : 992px) {
	.crudActions {
		margin-bottom: 10px;
	}
}

@media all and (max-width : 576px) {
	nav {
		justify-content: center!important;
	}

	.navbar-brand {
		margin-right: auto;
	}

	h3 {
		text-align: center;
	}

	.returnButton, .addButton, h3 {
		text-align: center!important;
	}
}