/* GENERAL */


/* HEADER */

header {
	margin-top: 100px;
}

#contractImage {
	max-width: 100%;
	height: 40vh;
}

/* NAV */

.navbar {
	background-color: rgba(0,0,0,0.5);
}

.nav-item {
	border: 2px solid white;
	border-radius: 15px;
}

.nav-item:hover {
	border-top: 2px solid green;
	border-bottom: 2px solid brown;
}

/* MEDIA */

@media all and (max-width : 992px) {
}

@media all and (max-width : 576px) {
}