/* GENERAL */

/* CONTRACTS LIST */

.summary {
	background-color: aqua;
}

.contractThumbnail img{
	height: 40vh;
	max-width: 100%;
}

/* MEDIA */

@media all and (max-width : 992px) {
}

@media all and (max-width : 576px) {
}