/* GENERAL */

h2 {
	text-align: center;
}

/* HEADER */

header {
	margin-top: 0px;
	padding-top: 0px;
	height: 100vh;
	background-image: url('../images/bg_header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#fullSizeHeader {
	height: 100%;
}

/* CONTRACT SECTION */

.contractButton {
	width: 60%;
	height: 100%;
}

#contracts {
	padding-top: 60px;
	margin-bottom: 100px;
}

#contractsName button:hover, .active{
	border: 1px solid grey!important;
	background-color: grey!important;
}

#contractsName button:focus{
	box-shadow: none;
}

.contractThumbnail img{
	width: 100%;
}

/* SIMULATOR BANNER SECTION */

#simulatorBanner {
	color: black;
	font-weight: bold;
	background-image: url('../images/text_paper.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 10px black;
}

#simulatorBanner p {
	font-size: 1.1em;
}

/* MEDIA */

@media all and (max-width : 992px) {
    .contractSummary {
		flex-wrap: wrap-reverse;
		margin-right: auto;
		margin-left: auto;
	}

	.contractThumbnail img{
		width: 80%;
	}

	.summary {
		text-align: center!important;
	}
}

@media all and (max-width : 576px) {
	.contractThumbnail img{
		width: 100%;
	}
}