/* GENERAL */

h2 {
	text-align: center;
}

/* HEADER */

header {
	margin-top: 0px;
	height: 100vh;
	background-image: url('../images/bg_header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#fullSizeHeader {
	height: 100%;
}

/* CONTRACT SECTION */

#contracts {
	padding-top: 60px;
	padding-bottom: 100px;
	background-image: url('../images/bg_wc_orange.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#contractsName button {
	background-color: aqua;
}

#contractsName button:hover, .active{
	background-color: grey!important;
}

.contractThumbnail img{
	width: 100%;
}

/* SIMULATOR BANNER SECTION */

#simulatorBanner {
	background-color: orange
}

#simulatorBanner h3, #simulatorBanner p {
	color: white;
}

/* LAST POSTS SECTION */

#lastPostsContainer {
	background-image: url('../images/bg_wc_orange.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#lastPosts {
	padding-top: 60px;
	padding-bottom: 100px;
}

.card-img-top {
	height: 230px;
}

/* MEDIA */

@media all and (max-width : 992px) {
    .contractSummary {
		flex-wrap: wrap-reverse;
		margin-right: auto;
		margin-left: auto;
	}

	.contractThumbnail img{
		width: 80%;
	}

	.summary {
		text-align: center!important;
	}
}

@media all and (max-width : 576px) {
	.contractThumbnail img{
		width: 100%;
	}
}