/* GENERAL */


/* HEADER */

header {
	margin-top: 100px;
}

/* FILTERS */

#filters {
	background-color: grey;
}

#filters p {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* POSTS LIST */

.card-img-top {
	height: 230px;
}

/* MEDIA */

@media all and (max-width : 992px) {
}

@media all and (max-width : 576px) {
}