/* FILTERS */
#filters {
	margin-top: 60px;
	padding-top: 1rem;
	background-color: lightgrey;
	box-shadow: 2px 2px 10px black;
}

/* POSTS LIST */
#postsCrud form {
	display: inline-block;
}

#postsSection {
	margin-bottom: 100px;
}