/* HEADER */
#postImage {
	max-width: 100%;
	height: 40vh;
}

.categoryBadge {
	color: white;
	background-color: #2F8EF5;
	padding: 8px;
}

/* MEDIA */
@media all and (max-width : 992px) {
	#postImage {
		width: 80%;
		height: auto;
	}
}

@media all and (max-width : 576px) {
	#postImage {
		width: 100%;
	}
}