/* SIMULATOR */

.errorSimulator {
	border-color: red;
}

.errorSimulator:focus {
	border-color: red;
	box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}

.foodTypes {
	display: inline-block;
}

#noContract {
	background-color: rgba(0,0,0,0.1);
}

#noContractMessage {
	background-color: #FFBD4A;
}

#totalPrice {
	color: #2F8EF5;
	font-size: 1.5em;
	font-weight: bold;
}

#result {
	margin-bottom: 100px;
}