<section class="mb-4" id="filters">
	{{ form_start(form) }}
		<div class="form-row justify-content-around align-items-end">
			<div class="col-lg-4 col-md-4 ml-2 mr-2">
				{{ form_row(form.year) }}
			</div>
			<div class="col-lg-4 col-md-4 ml-2 mr-2">
				{{ form_row(form.post_categories) }}
			</div>
			<div class="col-lg-2 col-md-2 text-center">
				<div class="form-group">
					<button class="btn roundedButton">Rechercher</button>
				</div>
			</div>
		</div>
	{{ form_end(form) }}
</section>