<h3>1. Présentation du site.</h3>
<p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
<p><strong>Propriétaire</strong> : Eric Strady – Boulevard Victor Schoelcher - Lieusaint<br />
<strong>Créateur</strong>  : <a href="https://www.portfolio.ericstrady.fr">Eric Strady</a><br />
<strong>Responsable publication</strong> : Eric Strady – strady60@gmail.com<br />
Le responsable publication est une personne physique ou une personne morale.<br />
<strong>Webmaster</strong> : Eric Strady – strady60@gmail.com<br />
<strong>Hébergeur</strong> : O2Switch – 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand<br />
Crédits : Toutes les images utilisées sur le site sont issues de la plateforme Pixabay (images libres de droits) ou de réalisations personnelles.<br />
Le modèle de mentions légales est offert par Subdelirium.com <a target="_blank" href="https://www.subdelirium.com/generateur-de-mentions-legales/">Mentions légales</a></p>

<h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>
<p>L’utilisation du site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> sont donc invités à les consulter de manière régulière.</p>
<p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Eric Strady, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
<p>Le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> est mis à jour régulièrement par Eric Strady. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
<h3>3. Description des services fournis.</h3>
<p>Le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>
<p>Eric Strady s’efforce de fournir sur le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
<p>Tous les informations indiquées sur le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
<h3>4. Limitations contractuelles sur les données techniques.</h3>
<p>Le site utilise la technologie Symfony et JavaScript.</p>
<p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour</p>
<h3>5. Propriété intellectuelle et contrefaçons.</h3>
<p>Eric Strady est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Eric Strady.</p>
<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
<h3>6. Limitations de responsabilité.</h3>
<p>Eric Strady ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site https://www.amap.ericstrady.fr, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
<p>Eric Strady ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a>.</p>
<p>Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Eric Strady se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Eric Strady se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>
<h3>7. Gestion des données personnelles.</h3>
<p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
<p>A l'occasion de l'utilisation du site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a>, aucune donnée personnelle n'est sauvegardée ou publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.</p>
<p>Seule l'utilisation du reCaptcha de Google sur le site, entraîne la transmission de certaines données personnelles, telles que l'adresse de protocole Internet (IP) de l'utilisateur. L'utilisation du <a href="https://www.google.com/recaptcha/intro/v3.html">reCaptcha</a> de Google permet de lutter contre l'envoi abusif d'e-mail (spam). L'utilisateur peut consulter les <a href="https://policies.google.com/privacy?hl=fr">règles de confidentialités</a> et les <a href="https://policies.google.com/terms?hl=fr">conditions d'utilisation</a> du reCaptcha Google.</p>
<p>Le site n'est pas déclaré à la CNIL car il ne recueille pas d'informations personnelles.</p>
<h3>8. Liens hypertextes et cookies.</h3>
<p>Le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de Eric Strady. Cependant, Eric Strady n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
<p>La navigation sur le site https://www.amap.ericstrady.fr est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site.</p>
<p>Le seul cookie installé est nommé "PHPSESSID". Ce cookie est créé lors de la navigation de l'utilisateur sur le site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> et est obligatoire pour son bon fonctionnement. Il permet d'attribuer à l'utilisateur un identifiant pour toute la durée de sa navigation sur le site.</p>
<p>Toutefois comme pour le point 7, le <a href="https://www.google.com/recaptcha/intro/v3.html">reCaptcha</a> de Google est susceptible d'installer des cookies lors de sa sollicitation. Là aussi, l'utilisateur peut consulter les <a href="https://policies.google.com/privacy?hl=fr">règles de confidentialités</a> et les <a href="https://policies.google.com/terms?hl=fr">conditions d'utilisation</a> du reCaptcha Google.</p>

<h3>9. Droit applicable et attribution de juridiction.</h3>
<p>Tout litige en relation avec l’utilisation du site <a href="http://https://www.amap.ericstrady.fr/">https://www.amap.ericstrady.fr</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
<h3>10. Les principales lois concernées.</h3>
<p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.</p>
<p> Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
<h3>11. Lexique.</h3>
<p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
<p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>