{{ form_start(form) }}
	<fieldset>
		<legend>Détails du type d'alimentation</legend>
		{{ form_row(form.name) }}
	</fieldset>
	
	<div class="row mt-4">
		<div class="col-lg-12 text-center">
			<button type="submit" class="btn btn-primary">{{ button }}</button>
		</div>
	</div>
{{ form_end(form )}}