{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert - Création d'un producteur{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin_main.css') }}">
	<link rel="stylesheet" href="{{ asset('css/admin_forms.css') }}">
{% endblock %}

{% block nav %}
	{% include 'back/admin_nav.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		<header class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2>Création d'un producteur</h2>
				</div>
			</div>
		</header>

		<div class="row mb-2">
			<div class="col text-right returnButton">
				<a href="{{ path('admin.contract.form.param') }}" class="btn btn-outline-secondary btn-sm">Retour au paramétrage du formulaire</a>
			</div>
		</div>

		<section id="createForm">
			{% include 'back/admin_grower_form.html.twig' with { button: 'Créer' } %}
		</section>
	</div>
{% endblock %}