{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-Vert - Erreur {{ status_code }}{% endblock %}

{% block body %}
    <div class="container">
        <header>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Erreur {{ status_code }}</h2>
                </div>
            </div>
        </header>

        <section class="spaceAround" id="error">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <h5>Nous sommes désolés mais ces terres ne sont pas encore accessibles.</h5>
                    <a href="{{ path('home') }}" class="btn btn-lg roundedButton mt-4">Revenir à la page d'accueil</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}